{% extends 'base.html' %}
{% block body_block %}
<section id='main' class='appt_list'>
<h1>appointment LIST</h1>

{%if appointment_list %}
{% for appointment in appointment_list %}
	<p><a href="{% url 'appointments:appointment_detail' pk=appointment.pk %}">Hello {{appointment.user}},</p>
	<p> Your appointment with {{appointment.section}} at {{appointment.counter}} is scheduled for {{appointment.date}} at {{appointment.time}}</a></p>
	{% endfor %}
	{% else %}
	<p>No Appointments <a href="{% url 'appointments:appointment_create' %}">Create One</a></p>
	{% endif %}
</section>
{% endblock %}