{% extends 'base.html' %}
{% block body_block %}
<section id='main' class='appt_details'>
	<h1>Appointment Details</h1>

	<p><a href="{% url 'accounts:account_detail' pk=user.pk %}">@{{appointment.user}}</a></p>
	<p>Date: {{appointment.date}} 
	<p>Section: {{appointment.section}}</p>
	<p>Counter: {{appointment.counter}}</p>
	<p>Time: {{appointment.time}}</p>
	<p>Reason: {{appointment.purpose}}</p>
	<p>Files: {{appointment.document}}</p>

	<a class='btn btn-primary' href="{% url 'appointments:appointment_update' pk=appointment.pk %}">Update</a>

	<a class='btn btn-danger' href="{% url 'appointments:appointment_delete' pk=appointment.pk %}">Delete</a>

	<a class='btn btn-info' href="{% url 'password_change' %}">Change Password</a>
</section>
{% endblock %}