{% extends 'appointments/base.html' %}
{% block appointment_form %}
<section id= 'main' class='new_appt'>
<div class="panel panel-default">
    <div class="panel-body">
        <section id="form-wrapper">
        	<h1>new appointment FORM</h1>
            <form enctype="multipart/form-data" method="POST" class="appointment-form">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="reset" class="btn btn-default">Reset</button>
            </form>
        </section>
    </div>
</div>
</section>

{% endblock %}
