<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Make an appointment</title>

    <script type="text/javascript" src="{% static 'css/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'css/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/mysite.css' %}">

</head>
<body>


<header>
	<div id="navigation" class="navbar navbar-inverse navbar-fixed-top default" role="navigation">
  		<div class="container">
    		<nav class='navbar'>
				<span class='open-slide'>
					<a href="#" onclick="openSlideMenu()">
						<svg width='30' height='40'>
							<path d='M0,5 30,5' stroke='#fff' stroke-width='5'/>
							<path d='M0,14 30,14' stroke='#fff' stroke-width='5'/>
							<path d='M0,23 30,23' stroke='#fff' stroke-width='5'/>	
						</svg>
					</a>
				</span>	
			</nav>
			<div class="navigation">
				<div id='side-menu' class='side-nav'>
					<a href="#" class='btn-close' onclick="closeSlideMenu()">&times;</a>
					<li><a href="{% url 'index' %}">Home</a></li>
					<li><a href="{% url 'appointments:appointment_create' %}">New Appt</a></li>
					<li><a href="{% url 'accounts:signup' %}">Signup</a></li>
					<li><a href="{% url 'user_login' %}">Login</a></li>
					{% if user.is_authenticated %}
					<li><a href="{% url 'appointments:appointment_list' %}">My Appointments</a></li>
					<li><a href="{% url 'accounts:profile_detail' pk=user.pk %}">Profile</a></li>
					<li><a href="{% url 'user_logout' %}">Logout</a></li>
					{% endif %}
				</div>
			</div>
  		</div>
	</div>
</header>
<div class='clr'></div>


    {% if form %}
    {{ form.media }}
    {% endif %}
	
	{% block content %}
	{% endblock %}
	{% block body_block %}
	{% endblock %}

    {% block appointment_form %}
    {% endblock %}
<script type="text/javascript">
function openSlideMenu(){
	document.getElementById('side-menu').style.width = '350px';
	document.getElementById('main').style.marginLeft = '350px';
}
function closeSlideMenu(){
	document.getElementById('side-menu').style.width = '0px';
	document.getElementById('main').style.marginLeft = '0px';
}
</script>



</body>
</html>